* {
  box-sizing: border-box;
}

html,
.body {
  height: 100%;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  padding: 20px 0;
  background-color: lightblue;
}

header a {
  font-size: 20px;
  color: white;
  width: auto;
  padding: 25px 10px;
  text-decoration: none;
}

header a:hover {
  background-color: yellow;
}

#home,
#about,
#my-business,
#contact {
  margin: 0;
  width: 100%;
}

.responsive {
  max-width: 100%;
  height: auto;
}

#home {
  padding-top: 50px;
  background: url("Images/Code-Text.png");
}

.name {
  height: 100px;
  color: yellowgreen;
  font-size: 40px;
  font-family: 'Shrikhand', cursive;
  animation: in 5s ease-out forwards infinite;
  animation-delay: 10s;
  -webkit-animation: in 5s ease-out forwards infinite;
}

@keyframes in {
  0% {
    letter-spacing: -17px;
    opacity: 1;
  }

  30% {
    letter-spacing: 4px;
    opacity: 1;
  }

  100% {
    letter-spacing: 4px;
    opacity: 1;
  }
}

@keyframes in {
  0% {
    letter-spacing: -17px;
    opacity: 1;
  }

  30% {
    letter-spacing: 4px;
    opacity: 1;
  }

  100% {
    letter-spacing: 4px;
    opacity: 1;
  }
}

@keyframes in {
  0% {
    letter-spacing: -17px;
    opacity: 1;
  }

  30% {
    letter-spacing: 4px;
    opacity: 1;
  }

  100% {
    letter-spacing: 4px;
    opacity: 1;
  }
}

.motto {
  color: white;
  text-shadow: 8px 10px 9px yellow;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  padding: 100px;
}

#about {
  color: #FFCC91;
  background-color: white;
  text-shadow: 2px 3px 2px grey;
  font-family: Impact,
    'Arial Narrow Bold',
    sans-serif;
  font-size: 40px;
}

#my-business {
  font-family: 'Permanent Marker',
    cursive;
  background: #333;
  font-size: 26px;
  color: rgb(182, 189, 194);
}

#contact {
  background-color: aqua;
  padding-top: 100px;
  font-family: 'Notable',
    sans-serif;
  font-size: 30px;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: green;
}

.container {
  border-radius: 5px;
  background-color: aqua;
  padding: 20px;
}

footer {
  text-align: center;
  position: sticky;
  bottom: 0px;
  color: rgb(17, 22, 41);
  background-color: lightblue;
  font-family: 'Permanent Marker', cursive;
  font-size: 26px;
  height: auto;
}